body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#333;
  width: 1162px;
  font-size:14px;
}


svg {
   margin-left:0px; 
   margin-top:0px;
   z-index: 0;
}

#boroughs {
  stroke-width: 1.5px;
  fill: rgb(210,210,210);
}

circle {
  fill-opacity:0.3;
}

circle:hover {
  cursor: pointer;
  fill:red;
  fill-opacity:0.95;
}

#monthMenu {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  top: 0px;
  left: 0px;
  width: 1162px;
  height:50px;
  background-color: rgba(20,20,20,0.7);
}

#monthMenu ul {
  list-style: none;
  padding: 0;
}

#radiusMenu {
  font-family: helvetica;
  position: absolute;
  top: 100px;
  left: 50px;
  width: 180px;
  text-align: left;
}

#radiusMenu ul {
  list-style: none;
  font-size: 16px;
  padding: 0;
  margin-top: 3px;
}

#radiusMenu li {
  cursor: pointer;
  padding-bottom: 5px;
  font-weight: 100;
  color: rgba(20,20,20,0.6);
}

#radiusMenu li:hover {
  color: rgba(20,20,20,1);
}


#radiusMenu li.selected {
  font-weight: bold;
  color: rgba(20,20,20,1);
}


#month-menu li { 
  cursor: pointer;
  display: inline; 
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
  text-align: center;
  color: rgba(255,255,255,0.5);
}
#month-menu li:hover {
  color: rgba(255,255,255,0.7);
  text-decoration: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding-bottom: 3px;
}

#month-menu li.selected {
  text-decoration: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding-bottom: 3px;
  font-weight: normal;
  color: rgba(255,255,255,1);
}

.iconContainer {
  position: absolute;
  top: 200px;
  right: 100px;
  width: 130px;
  height: 120px;
  text-align: center;
  font-weight: 200;
}
#playParagraph{
  color:#fff;
  font-size: 12px;
  letter-spacing: 1px;
  opacity:1;
}

#playButton {
  color:#aaa;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  transition:0.5s;
}

#playButton:hover {
  opacity: 1;
  transition:0.5s;
}

.image {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100px;
  text-align: center;
  font-weight: 200;
}


.d3-tip {
  line-height: 150%;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  display: inline;
  position:absolute;
  font-size: 10px;
  width: 100%;
  line-height: 2;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}