

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.masthead {
  background-color: #ddd;
  font-size:16px;
}

.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: 200;
  color: rgba(20,20,20,0.3);
  text-align: center;
}
.nav-justified > li > a:hover {
  color: rgba(20,20,20,0.6);
  background-color: transparent;
}

.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: transparent;
  color: rgba(20,20,20,1);
}


@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

